/*styles/global.css*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
/*title text style*/

/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */
header {
  background-color: blue;
  text-align: left;
  padding: 20px;
}
.header-container {
  display: flex;
  align-items: center;
}
.contact-info {
  background-color: aqua;
}
