* {
  margin: 0px;
  padding: 0px;
}

/*title text style*/
.title {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'JetBrains Mono', monospace;
}

/*body text style*/
.body-font {
  font-size: 20px;
  color: white;
  font-weight: medium;
  font-family: 'JetBrains Mono', monospace;
}

a {
  color: #18083d;
}
body {
  background-color: #565d75;
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  height: 40vh;
  margin-bottom: 4px;
  margin-top: 10px;
  flex: 3;
  align-self: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: auto;
  width: 50vw;
  flex-direction: column;
  align-self: center;
}

#h1 {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 15px;
}

#h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-self: center;
  font-size: 15px;
  color: white;
}

#bio-spans-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fffffece;
  color: blue;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  /*top, right, bottom, left (clockwise)*/
  padding: 20px 0px 20px 15px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 14.16px;
  border-radius: 23.59px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1); /* Last value (2px) is the spread */
}

#profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
